body {
    background-color: #0977fc;
}
.boite {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 600px;
    background-color: rgb(52, 30, 68);
    position: relative;
}

.boite img {
	width: 100px;
	height: 100px;
	margin: auto;
	display: block;
} 

.boite .bar {
    width: auto;
    height: 2px;
    background-color: white;
}

.boite .email {
    font-size: 20px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    caret-color: white;
    width: 250px;
    height: 60px;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    background-color: transparent;
}